<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="Personel.Properties.Settings.testConnectionString"
        connectionString="Data Source=10.10.22.199;Initial Catalog=test;User ID=test2;Password=test2"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>